<div *appRequestLoader="demo$ as demo">
  <app-demo-display [demo]="demo"></app-demo-display>
  <app-always-error-display [demo]="demo"></app-always-error-display>
</div>
<button (click)="load()">Refresh</button>

<!--  Have this here to test teh differences of the type returned in the ngIf vs what I have
both appRequestLoader and ngIf have demo as any type so it passes down no matter what since its a runtime thing
the type doesnt throw errors because of type ereasure -->
<!-- <div *ngIf="demo$ | async as demo">
  <app-demo-display [demo]="demo"></app-demo-display>
  uncomment the following html to test if an error happens because demn g o is any but the componnent
  we are passing down expects a different type that doesnt match demo 
    <app-always-error-display [demo]="demo"></app-always-error-display>
</div>
<button (click)="load()">Refresh</button> -->